* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,
ul {
    padding-left: 0;

}

li {
    list-style: none;
    padding: 5px 5px;
    transition: all 0.5s;
    cursor: pointer;
}

li:hover a {
    color: #2f5aa2;
    ;
}

li:hover i {
    color: #2f5aa2;
    ;
}

.componet {
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

i {
    padding: 0px 8px 0px 0px;
}

p {
    font-size: 17px;
    margin-bottom: 0px;
}

.poi-rel {
    position: relative;
}

.poi-fx {
    position: fixed;
    bottom: 10px;
    /* left: 30px; */
}
.sidebar{
    /* display: inline-block; */
    background: #25476a;
}
.logoHeader {
    width: 240px;
    background: #25476a;
    padding: 5px 82px;
    /* float: left;
    clear: both; */
    /* height: 82px; */
}
.width {
    /* float: left;
    clear: both; */
    width: 240px;
    padding: 10px 0px 60px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px #00000061;
    border-radius: 0 15px 0 0;
    /* position: relative;
    top: -20px; */
    z-index: 100;
}

.component li i:nth-child(3) {
    position: relative;
    top: -20px;
    display: block;
    text-align: end;
    line-height: 0.5;
}

.More li i:nth-child(3) {
    position: relative;
    top: -20px;
    display: block;
    text-align: end;
    line-height: 0.5;
}

.extra li i:nth-child(3) {
    position: relative;
    top: -20px;
    display: block;
    text-align: end;
    line-height: 0.5;
}

.drop-down {
    display: none;
    position: relative;
}

.drop-down ul li a {
    display: inline-block;

}

.abc {
    height: 100%;
    border-left: 2px dashed black;
    border-radius: 10px;
    font-size: 14px;
}

.abc ul li a {
    display: inline-block;
    padding: 0px 10px;
}

.extra {
    margin: 0px 0px 20px 0px;
}

.logout {
    width: 239px;
    border-top: 2px solid #0d79c227;
    background-color: rgb(223, 238, 251);
    padding: 8px 5px 10px 8px;
    margin: 0px 0px 0px -38px !important;
    transition: all 0.5s;
    bottom: 0;
}

.logout:hover {
    cursor: pointer;
    color: #2f5aa2;
}

.logout p {
    font-size: 16px;
    /* border-top: 1px solid black;  */
    /* border-bottom: 1px solid black;  */
    /* border-radius: 5px; */
    padding: 0px 0px 0px 35px;
}

.pad {
    display: inline-block;
    padding: 0px 0px 0px 35px;
    color: blue;
}

.spc {
    display: inline-block;
    padding: 0px 0px 0px 43px;
    color: orangered;
    /* background-color: orangered; */
}

.view {
    margin: 15px 0px;
    padding: 5px 37px;
    color: white;
    background-color: rgb(101, 200, 101);
    border: none;
}

